.co-alert {
  margin-bottom: var(--pf-global--spacer--lg);
  h4 {
    // PF4 alert and bootstrap styles fight
    line-height: var(--pf-global--LineHeight--md);
  }
}

.co-expandable-alert {
  margin-bottom: var(--pf-global--spacer--xl);
}

.co-scrollable-alert .pf-c-alert__description {
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  @include co-break-word;
  @media (min-height: $screen-sm-min) {
    max-height: 200px;
  }
}
